conda {
    cacheDir = "${METAPIGS_REPO}/workflows/checkm"
}

process {

    conda = "${METAPIGS_REPO}/workflows/checkm-tools.yaml"

    cpus = 2
    memory = 85.GB
}

executor {

    $pbs {
        queueSize = 10
	pollInterval = '5sec'
    }
    
    $local {
        queueSize = 1
    }
}

profiles {

    standard {
        process.executor = 'local'
    }
    
    cluster {
        process.executor = 'pbs'
    }
} 
