conda {
    cacheDir = "${METAPIGS_REPO}/workflows/conda"
}

process {

    conda = "${METAPIGS_REPO}/workflows/conda-tools.yaml"

    cpus = 4
    memory = 8.GB
}

executor {

    $pbs {
        queueSize = 25
        pollInterval = '3sec'
    }

    $local {
        queueSize = 4
    }
}

profiles {

    standard {
        process.executor = 'local'
    }

    cluster {
        process.executor = 'pbs'
    }
}
