conda {
    cacheDir = "${METAPIGS_REPO}/workflows/mmseqs"
}

process {

    conda = "${METAPIGS_REPO}/workflows/mmseqs-tools.yaml"
    clusterOptions = " -l select=1:intel_node=yes:ncpus=8:mem=100g -l walltime=72:00:00"
}

executor {

    $pbs {
        queueSize = 15
	pollInterval = '10sec'
    }
    
    $local {
        queueSize = 1
    }
}

profiles {

    standard {
        process.executor = 'local'
    }
    
    cluster {
        process.executor = 'pbs'
    }
} 
