conda {
    cacheDir = "${METAPIGS_REPO}/workflows/mmseqs"
}

process {

    conda = "${METAPIGS_REPO}/workflows/mmseqs-tools.yaml"

    cpus = 4
    memory = 30.GB
}

executor {

    $pbs {
        queueSize = 15
	pollInterval = '10sec'
    }
    
    $local {
        queueSize = 1
    }
}

profiles {

    standard {
        process.executor = 'local'
    }
    
    cluster {
        process.executor = 'pbs'
    }
} 
