env {
    METAPIGS_TMP = '/scratch/work'
}

conda {
    cacheDir = 'metapigs/workflows/conda'
}

process {

    conda = 'metapigs/workflows/conda-tools.yaml'

    cpus = 4
    memory = 8.GB

}

executor {

    $pbs {
        queueSize = 25
    }
    
    $local {
        queueSize = 4
    }
}

profiles {

    standard {
        process.executor = 'local'
    }
    
    cluster {
        process.executor = 'pbs'
    }
} 
